Source: apps-environment
Section: misc
Priority: optional
Maintainer: Azer Abdullaev (Like All) <like-all@yandex.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
X-Debrew-Production-Flavours: ["jessie"]
X-Debrew-Production-Architectures: ["amd64"]
X-Debrew-Testing-Flavours: ["stretch"]
X-Debrew-Testing-Architectures: ["amd64"]
X-Debrew-Maintainer-Login: like-all

Package: apps-environment-production
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: apps-environment-development
Description: production environment for apps

Package: apps-environment-development
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: apps-environment-production
Description: development environment for apps
